<div class="card{{#if colour}} {{colour}}{{/if}}{{#if brightness}} {{brightness}}{{/if}}{{#each tags}} {{this}}{{/each}}"
     style="{{#if size}}{{#with size}}width: {{width}}; height: {{height}}{{/with}}{{/if}} {{#if style}}{{style}}{{/if}}">
  {{#if image}}
    <div class="card-image">
      {{#with image}}<img src="{{src}}"{{#if style}} style="{{style}}"{{/if}}>{{/with}}
      {{#if @root.title}}<span class="card-title {{@root.title.colour}}-text {{#if @root.title.brightness}}text-{{@root.title.brightness}}{{/if}}">{{@root.title.text}}</span>{{/if}}
    </div>
  {{/if}}

  <div class="card-content">
    {{#unless image}}{{#if title}}{{#with title}}<span class="card-title {{colour}}-text {{#if brightness}}text-{{brightness}}{{/if}}">{{text}}</span>{{/with}}{{/if}}{{/unless}}
    {{#with content}}<p class="{{colour}}-text {{#if brightness}}text-{{brightness}}{{/if}}">{{text}}</p>{{/with}}
  </div>

  {{#if actions}}
    <div class="card-action">
      {{#each actions.urls}}<a href="{{url}}">
        <span class="{{#if @root.title.colour}} {{@root.title.colour}}-text{{/if}}{{#if @root.title.brightness}} text-{{@root.title.brightness}}{{/if}}">{{text}}</span>
      </a>{{/each}}
    </div>
  {{/if}}
</div>